@import "./config";

.fontIcon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  font-size: $icon-size;

  svg {
    pointer-events: none;
    display: block;
  }

  &[p-font-icon] {
    line-height: 1;
    width: auto;
  }
}