$button-border-radius: 0px !default;
$button-height: 36px !default;
$button-padding: 16px !default;
$button-min-width: 64px !default;

@function rgba-tpl($color, $alpha) {
  @if type-of($color) == color {
    @return rgba($color, $alpha);
  } @else {
    @return unquote("rgba(#{$color}, #{$alpha})");
  }
}

$button-secondary-color: red !default;
$button-hover-color: black !default;
$button-focus-color: rgba-tpl(red, 0.12) !default;
$button-active-color: rgba-tpl(yellow, 0.40) !default;
$button-primary-color-alt: blue !default;
$button-focus-color-alt: green !default;

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

@mixin typo-preferred-font($usePreferred: true) {
  @if $usePreferred {
    font-family: $preferred_font;
  }
}

@mixin typo-button($colorContrast: false, $usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;

  @if $colorContrast {
    opacity: 0.87;
  }
}